* {margin:0; padding:0;}
img {border:0;}
body{background:#d8d8d8;}
ul li {list-style:none;}
.box{width: 560px;height: 563px;background: #fbfbfa;;position: absolute;top: 0;right: 0;left: 0;bottom: 0;margin: auto;overflow: hidden;border: 1px solid #fbfbfa;border-radius:5px;}
.box1{width: 100%;height: 64px;margin-top: 24px;text-align: center;
img{width:200px;height: 64px;}
}
.box2{width: 100%;height: 475px;margin-top: 32px;text-align: center;
position: relative;
span{font-size: 20px;}

}
.tips{width: 200px;height: 30px;text-align: center;line-height: 30px;position: absolute;left: 200px;top: 400px;color: red;}


.box3{width: 300px;height: 153px;margin:24px auto 0 auto;border: 1px solid #ccc;border-radius: 5px;
li{width: 100%;height: 51px;line-height:51px;
&:nth-child(1),&:nth-child(2){border-bottom: 1px solid #ccc;
  }
  img{float: left;margin-top: 10px;margin-left: 10px;}
}
}

.put{border:none;background: #fbfbfa; color:#bbb;font-size: 15px;outline: none;float: left;margin-top: 20px;}

.box4{width: 340px;height: 57px;margin:24px auto 0 auto;
font-size: 12px;
    line-height: 1.5;
a{color: #4287d7;text-decoration:none;}
a:hover{text-decoration:underline;}
}




.box5{width: 300px;height: 46px;margin:16px auto 0 auto;
position: relative;
  input{width: 100%;height: 100%;background: #ff6299;border: none;color: white;font-size: 16px;position: absolute;
  right: 0;transition:all 0.3s;top: 0;font-weight: 800;}
  
}
.box5:hover input {top:-10px;box-shadow: 0 5px 5px #bd2c61;}

.box6{width: 540px;height: 38px;margin-top: 16px;
a{color: #268ddf;text-decoration:none;}
a:hover{text-decoration:underline;}
}